.page__wrapper {
	background: #1c1b21;
	color: #fafafa;
	font-style: 55px;
	font-family: serif;
}

.item__wrapper {
	border: 10px solid #6c38cc;
	background: #1c1b21;
	display: flex;
    flex-wrap: wrap;
}
.item {
	border: 1px solid #6c38cc;
	text-align: center;
	padding: 10px;
    width: calc(100%/3);
}

.item2{
    order: 2;
}

.item3{
    order: 1;
}
