.two__wrapper {
	width: 100%;
	height: 100%;
	background-color: #f3f3f9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.two__wrapper__container {
	width: 21rem;
	height: 21rem;
	border-radius: 0.6rem;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 10px -2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 1px 1px 10px -2px rgba(34, 60, 80, 0.2);
	box-shadow: 1px 1px 10px -2px rgba(34, 60, 80, 0.2);
}

.main__content__wrapper {
	width: auto;
	height: auto;
	padding: 2.5rem;
}

.main__title {
	font-size: 1.2rem;
	font-weight: 700;
	color: #132b50;
}

.main__title__wrapper {
	padding-bottom: 1.2rem;
}

.main__profile__wrapper {
	width: auto;
	height: auto;
	padding-bottom: 1rem;
	display: flex;
}

.main__profile__img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.main__profile__info__wrapper {
	width: auto;
	height: auto;
	padding: 0.5rem;
}

.main__profile__info__wrapper > p {
	font-size: 0.6rem;
	font-weight: 600;
	color: #132b50;
}

.main__profile__info__wrapper > h4 {
	font-size: 0.8rem;
	font-weight: 700;
	color: #132b50;
}

.main__login__wrapper {
	width: auto;
	height: auto;
}

.main__login__title {
	font-size: 0.6rem;
	font-weight: 700;
	color: #132b50;
	padding-bottom: 0.3rem;
}

.main__login__content__wrapper {
	width: auto;
	height: auto;
	display: flex;
    padding-bottom: 0.7rem;
	align-items: center;
	gap: 0.8rem;
}

.main__login__input__wrapper {
	width: 15rem;
	height: 2.6rem;
	border: 0.07rem solid #132b50;
	border-radius: 0.3rem;
	padding: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.3rem;
}

.main__login__input__icon {
	width: 1.2rem;
	height: 1.3rem;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.main__login__input {
	color: #132b50;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__login__input > input {
	color: #132b50;
}

.main__login__hide__icon {
	color: #132b50;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
}

.main__sign__content{
display: flex;
align-items: center;
gap: 0.3rem;
}

.main__sign__content__wrapper{
	width: 14.3rem;
    height: auto;
	padding-bottom: 0.5rem;
    display: flex;
	justify-content: space-between;
}

.main__sign__title{
    font-size: 0.6rem;
	font-weight: 700;
    color: #132b50;
}

.main__sign__button__content{
    width: 4rem;
	height: 2rem;
    background-color: #132b50;
	border: 0.07rem solid #132b50;
	border-radius: 0.3rem;
	padding: 0.2rem;
	display: flex;
	justify-content: center;
	align-items: center;	
}
.main__sign__button__content > button{
    font-size: 0.6rem;
	font-weight: 700;
    color: #fff;
}

.last__content > p{
    font-size: 0.6rem;
	font-weight: 700;
    text-decoration-line: underline;
    color: #132b50;
	padding: 0rem 2.5rem 0.5rem 2.5rem;
	cursor: pointer;
}

.main__sign__icon {
	position: relative;
	width: 2.7rem;
	height: 1.5rem;
	-webkit-appearance: none;
	appearance: none;
	background: #fff;
	outline: none;
	border-radius: 1rem;
	cursor: pointer;
	border: 0.05rem solid  #132b50;
	display: flex;
	align-items: center;
	padding-left: 0.4rem;
  }
  
  .main__sign__icon::before {
	content: "";
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	background: #132b50;
	transition: 0.5s;
  }
  
  .main__sign__icon:checked::before {
	transform: translateX(120%);	
	background: #132b50
  }
  
  .main__sign__icon:checked {
	background: #fff;
  }

