.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login__wrapper {
	width: 100%;
	height: 100%;
	background-color: var(--main-bc);
}

.login__container {
	width: 19rem;
	height: 28rem;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	padding: 2.5rem;
	-webkit-box-shadow: var(--main-box-shadow);
	-moz-box-shadow: var(--main-box-shadow);
	box-shadow: var(--main-box-shadow);
	border-radius: 0.5rem;
}

.title {
	color: var(--main-color);
	font-size: var(--main-log-fs);
	font-weight: var(--main-log-fw);
	display: flex;
	justify-content: center;
}

.form__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;
}

.form__wrapper {
	width: 14rem;
	height: 2.4rem;
	border: 0.08rem solid var(--secondary-color);
	border-radius: 0.2rem;
	padding: 0.4rem 1.2rem;
}

.form__content__main {
	background-color: var(--main-bc);
	display: flex;
	align-items: center;
}

.form__content__main > input {
	font-size: var(--secondary-log-fs);
	font-weight: var(--secondary-log-fw);
}

.form__submit__button {
	background-color: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.form__submit__button > button {
	color: var(--white);
	font-size: var(--secondary-log-fs);
	font-weight: var(--secondary-log-fw);
}

.division__title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--secondary-log-fs);
	font-weight: var(--secondary-log-fw);
	color: var(--third-color);
}

.form__content__secondary {
	background-color: var(--main-bc);
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__content__secondary > button {
	font-size: var(--secondary-log-fs);
	font-weight: var(--secondary-log-fw);
	color: var(--main-color);
}

.link__content__container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.link__content__container > a {
	font-size: var(--secondary-log-fs);
	font-weight: var(--secondary-log-fw);
	color: var(--main-color);
	text-decoration: none;
}
